{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block page_content %}

<!-- <div class="row">
  <div class="col-8">
    <h2>What should this page contain?</h2>
    <hr>
    <ul>
      <li>Include pictures of your teammates, don't forget instructors and advisors!</li>
      <li>You can add a small biography or a few words from each team member, to tell us what you like, and what motivated you to participate in iGEM.</li>
      <li>Take team pictures! Show us your school, your lab and little bit of your city.</li>
      <li>Remember that image galleries can help you showcase many pictures while saving space.</li>
    </ul>
    <div class="bd-callout bd-callout-info"><strong>Important:</strong> Your wiki pages will be archived at the end of the iGEM season and this content will remain online. Please keep this in mind as you post photos and personal information on this page.</div>
  </div>
  <div class="col-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2019.igem.org/Team:CU/Team">2019 CU</a></li>
      <li><a href="https://2019.igem.org/Team:UANL/Team">2019 UANL</a></li>
      <li><a href="https://2019.igem.org/Team:William_and_Mary/Team">2019 William and Mary</a></li>
      <li><a href="https://2020.igem.org/Team:BOKU-Vienna/Team">2020 BOKU Vienna </a></li>
      <li><a href="https://2020.igem.org/Team:CAU_China/Team_Member">2020 CAU China</a></li>
      <li><a href="https://2020.igem.org/Team:Lethbridge/Members">2020 Lethbridge</a></li>
    </ul>
  </div>
</div> -->

<link href="static/team.css" rel="stylesheet">
<div class="poster">
  <div class="bg"></div>
  <div class="img">
      <img src="htps://static.igem.wiki/teams/5367/page/description/dall-e-2024-07-03-03-12-32-create-a-high-resolution-full-width-cover-image-for-a-website-for-a-team-participating-in-the-igem-competition-the-theme-features-a-young-boy-in-the.webp">
  </div>
<div class="title" data-text="Members">Members</div>
</div>
<div class="page-main">
  <div id="content" class="mem">
    <div class="s1">
      <div class="h1-wrap">
        <h1 id="0" data-text="Wet Lab">Wet Lab</h1>
      </div>
      <div class="line"><!--card line-->
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="hps://static.igem.wiki/teams/4628/wiki/mem/shiyilin.png"></div>
            <div class="scroll">
              <p>Hello everyone! My name is Shiyi Lin, and I am a undergraduate student majoring in Ecology at Zhejiang
                University.</p>
              <p>I am also the team leader for this year's ZJU-China. I am excited that Flora Sentinel will
                finally be unveiled this autumn!</p>
              <p>I would like to express my gratitude to iGEM for providing us with such a
                great platform for creativity, and to my teammates for their dedication throughout this year.</p>
              <p>I would also
                like to thank everyone who has supported us along the way. Wishing you all the best!</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Shiyi Lin</div>
            <div class="tag">Wet Lab</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htts://static.igem.wiki/teams/4628/wiki/mem/yueranshen.png"></div>
            <div class="scroll">
              <p>Hi, I'm Yueran Shen, a third-grade student majoring in Biology. So glad to be the vice leader of this
                lovely team!</p>
              <p>It's very rewarding to put ideas into practice and get feedback from people in various fields.</p>
              <p>It is an honor to work with this motivated and professional team to explore synthetic biology</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Yueran Shen</div>
            <div class="tag">Wet Lab</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htps://static.igem.wiki/teams/4628/wiki/mem/junjieli.png"></div>
            <div class="scroll">
              <p>Hi, I am Junjie Li! My major is plant protection and I am very lucky to be able to do a project related
                to this field! </p>
              <p>In the iGEM team, I tried to learn various biological experimental techniques, and took charge of the
                biosafety part of this project. </p>
              <p>The results were somewhat different from what I expected, but the consideration of problems is a
                thrilling process. </p>
              <p>How wonderful it is to control the fate of Agrobacterium through synthetic biology!</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Junjie Li</div>
            <div class="tag">Wet Lab</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htps://static.igem.wiki/teams/4628/wiki/mem/linghaoxia.png"></div>
            <div class="scroll">
              <p>Hi! This is Linghao Xia, a senior majoring in life science and soon to be a medical student.</p>
              <p>During my undergraduate years, my work mainly focused on cancer stem cells and tRNA derived small RNAs.
                While as a iGemer, I am responsible for the design and experiment of RNA-dependent RNA polymerase.</p>
              <p>In fact, iGem provides me with a platform to realize my wonderful ideas and thanks to iGem for giving
                me this opportunity to meet new people and know a new world.</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Linghao Xia</div>
            <div class="tag">Wet Lab</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htps://static.igem.wiki/teams/4628/wiki/mem/mingxuanzhang.png"></div>
            <div class="scroll">
              <p>A medical student oppressed by life, the president of the Big Face Association in Zhejiang University
                School of Medicine, saved by my lovely teammates and successfully transformed into a happy child, loves
                experimentation more than McDonald's, and loves everyone in our team!</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Mingxuan Zhang</div>
            <div class="tag">Wet Lab</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htps://static.igem.wiki/teams/4628/wiki/mem/wenqingding.png"></div>
            <div class="scroll">
              <p>Hi, my name is Wenqing Ding, another tobacco grower in ZJU-China2023. My major is bioscience, and I
                have a great passion for RNA research. </p>
              <p>In my spare time, gatherings are my favorite things to do. Lastly, a heartfelt blessing for our Flora
                Sentinal!</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Wenqing Ding</div>
            <div class="tag">Wet Lab</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htps://static.igem.wiki/teams/4628/wiki/mem/qinyaoyan.png"></div>
            <div class="scroll">
              <p>Hi! I am Qinyao Yan, an "atypical" medical student.</p>
              <p>I have always had an unbiased love for biology, whether it is zoology, botany, microbiology or my
                specialty, clinical medicine.The knowledge shuttle is one of the coolest things in this world. </p>
              <p>This year, I was mainly responsible for the design and experiment of the plant immune module of the
                project.</p>
              <p>Thanks to the iGEM team for putting up with all the insane ideas in my brainstorming, regulating my
                sharply-fluctuating mental state, and giving me colorful weekends which are full of laughter but almost
                making me sleep to death the next day, turning me into a poor player but fun-loving motivator for the
                team building. </p>
              <p>I hold the firm belief that we will work together towards higher success.</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Qinyao Yan</div>
            <div class="tag">Wet Lab</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htps://static.igem.wiki/teams/4628/wiki/mem/zhenningyang.png"></div>
            <div class="scroll">
              <p>Hi, I'm Zhenning Yang and I major in Biology.</p>
              <p>As a member of wet lab, I am responsible for the design and experimental verification of the TLS part
                of our project. </p>
              <p>Though the project design and experiments are sometimes tough, I really enjoy working together with
                everyone in our team and exploring new things. </p>
              <p>Besides completing the lab job, I love music and I play guitar in a rock ‘n’ roll band. I believe that
                art and science share commonalities.</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Zhenning Yang</div>
            <div class="tag">Wet Lab</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htps://static.igem.wiki/teams/4628/wiki/mem/hanzhangli.png"></div>
            <div class="scroll">
              <p>Hallo! My name is Hanzhang Li, from the Joint College of Zhejiang University and Edinburgh University,
                majoring in bioinformatics. </p>
              <p>I hope to learn more knowledge and make more friends through iGEM competition. </p>
              <p>I hope to communicate with you actively and learn from each other!</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Hanzhang Li</div>
            <div class="tag">Wet Lab</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htps://static.igem.wiki/teams/4628/wiki/mem/luqian.png"></div>
            <div class="scroll">
              <p>Hi! I'm Lu Qian, a junior student majoring in Food Science and Engineering. </p>
              <p>My interest lies in various fields, including Synthetic Biology, Economics and Philosophy of Science
                and Technology. I am particularly good at daydreaming. </p>
              <p>This year's human practices work gave me the chance to dive into some ethical and social problems,
                which greatly opened my eyes. </p>
              <p>Love sycamores and sunset, fantasy and faith, most importantly iGEM and my homies!</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Lu Qian</div>
            <div class="tag">Wet Lab</div>
          </div>
        </div>
      </div>
    </div>
    <div class="s1">
      <div class="h1-wrap">
        <h1 id="1" data-text="Dry Lab">Dry Lab</h1>
      </div>
      <div class="line">
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="hps://static.igem.wiki/teams/4628/wiki/lizichenchen.png"></div>
            <div class="scroll">
              <p>CHEN is a member of 2023 ZJU-China, from Hengshui, Hebei. Currently he is a senior of Zhejiang
                University majoring in Mechanics of the plan for strengthening the basic discipline. </p>
              <p>He is responsible for the modelling part of the team and introduces the methodology of nonlinear
                dynamics and deep learning to modeling. </p>
              <p>Hope that synthetic biology will continue to grow and change our lives!</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Lizichen Chen</div>
            <div class="tag">Dry Lab</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htps://static.igem.wiki/teams/4628/wiki/mem/shiyiliang.png"></div>
            <div class="scroll">
              <p>Hi, I'm Shiyi Liang, a junior student major in biomedical engineering at Zhejiang University. I am
                responsible for the hardware design this year.</p>
              <p>It is not an easy task for me, but I have learned a lot and tried my best during the past few months.
                It was such a wonderful experience working with so many enthusiastic and lovely friends. </p>
              <p>It's my great honor to have a nice time with all of you! </p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Shiyi Liang</div>
            <div class="tag">Dry Lab</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="hps://static.igem.wiki/teams/4628/wiki/mem/yunfengshen.png"></div>
            <div class="scroll">
              <p>Hi, this is Shen, a senior student majoring in Software Engineering. </p>
              <p>It is a great honor for me to serve as the captain of Dry Lab and be responsible for constructing the
                team Wiki. </p>
              <p>This opportunity allows me to compensate for my regret of not being able to continue studying
                biology-related knowledge during my undergraduate studies, while also providing me with a pathway to
                explore intriguing user interface patterns. </p>
              <p>Hope you can extract valuable information from the Wiki and enjoy a pleasant reading experience!</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Yunfeng Shen</div>
            <div class="tag">Dry Lab</div> 
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htps://static.igem.wiki/teams/4628/wiki/mem/yiruwang.png"></div>
            <div class="scroll">
              <p>Hello everyone! I'm Wang Yiru, the creative mind behind the visual magic of our iGEM project! </p>
              <p>As the mastermind behind our main visual design, I've been crafting captivating web designs, whipping
                up engaging videos, and sprinkling creativity wherever I go.</p>
              <p>With a passion for design and an eye for aesthetics, I'm here to make our project shine bright! </p>
              <p>Let's make science look stylish together!</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Yiru Wang</div>
            <div class="tag">Dry Lab</div>
          </div>
        </div>
      </div>
    </div>
    <div class="s1">
      <div class="h1-wrap">
        <h1 id="2" data-text="PI">PI</h1>
      </div>
      <div class="line">
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htps://static.igem.wiki/teams/4628/wiki/mem/mingchen.png"></div>
            <div class="scroll">
              <p>College of Life Sciences, Zhejiang University Leader in bioinformatics. Chairman of Zhejiang
                bioinformatics society.</p>
              <p>Over the years, Professor Chen has guided the representative team of Zhejiang university in iGEM and
                achieved excellent results.</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Ming Chen</div>
            <div class="tag">PI</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htts://static.igem.wiki/teams/4628/wiki/mem/fanyang.png"></div>
            <div class="scroll">
              <p>College of Life Sciences, Zhejiang University.</p>
              <p>Giving sufficient guidance to the wet lab, equipping iGEMers with experimental skills. Managing a
                special lab for iGEMers for years.</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Fan Yang</div>
            <div class="tag">PI</div>
          </div>
        </div>
      </div>
    </div>
    <div class="s1">
      <div class="h1-wrap">
        <h1 id="3" data-text="Advisor">Advisor</h1>
      </div>
      <div class="line">
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htps://static.igem.wiki/teams/4628/wiki/mem/zhijianyan.png"></div>
            <div class="scroll">
              <p>A veteran of ZJU-China and a biobrick in the life science field. </p>
              <p>One year ago, I had to  build biobricks on my own, but now, I'm a biobrick contractor!</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Zhijian Yan</div>
            <div class="tag">Advisor</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htps://static.igem.wiki/teams/4628/wiki/mem/zihangye.png"></div>
            <div class="scroll">
              <p>My name is Zihang Ye., serving as a team member last year and advisor this year.</p> 
              <p>I am very glad to be the advisor of this year and give some help to this year's team members during the theme selection and experiment. </p>
              <p>Also, I'm  happy to see everyone's efforts. I hope we can have a harvest!</p>
              <p>In the future, I will continue to conduct research in the field of synthetic biology. So, look forward to meeting interesting you!</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Zihang Ye</div>
            <div class="tag">Advisor</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htts://static.igem.wiki/teams/4628/wiki/mem/yushuxie.png"></div>
            <div class="scroll">
              <p>Hi, I'm Xie Yushu, a senior student major in automation at Zhejiang University. And I serve as a  advisor this year. </p>
              <p>I take responsibility for providing guidance on hardware design. Later, I will be a graduate student in MRI.</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Yushu Xie</div>
            <div class="tag">Advisor</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htps://static.igem.wiki/teams/4628/wiki/mem/junyiliu.png"></div>
            <div class="scroll">
              <p>Hi, I'm Junyi, a member of ZJU-China 2022 last year and advisor this year. </p>
              <p>I'm doing my final-year-project related to plant immunity. </p>
              <p>Very excited that our project can apply synthetic biology to this field!</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Junyi Liu</div>
            <div class="tag">Advisor</div>
          </div>
        </div>
        <div class="card">
          <div class="hole"></div>
          <div class="star"></div>
          <div class="mid">
            <div class="avatar" avt="htps://static.igem.wiki/teams/4628/wiki/mem/liaoliaogao.png"></div>
            <div class="scroll">
              <p>I'm Gao Liaoliao, majored in clinical medicine.</p>
              <p>Besides completing the lab job, I love playing the bass, eating delicious food, and photographing.</p>
            </div>
          </div>
          <div class="bot">
            <div class="name">Liaoliao Gao</div>
            <div class="tag">Advisor</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="gotop">
    <img src="htps://static.igem.wiki/teams/4628/wiki/gotop.svg" alt="">
    <div class="text-wrap">
      <div>BACK TO</div>
      <div>TOP !</div>
    </div>
  </div>
</div>
<script>
  // set bk-img
  var avts = document.querySelectorAll("#content .card .avatar");
  avts.forEach((item) => {
    var url = item.getAttribute('avt');
    if (url) {
      item.style.backgroundImage = `url("${url}")`;
    }
  })
</script>


{% endblock %}
